#about-paragraph {
    padding-left: 5%;
}

#about-card {
    height: fit-content;
    /* width: 100%; */
    width: fit-content;
    overflow: hidden;
}

#linkedin {
    color: #0077B5;
}

#about-card>img {
    width: 100%;
    height: auto;
}

/* #email-icon {
    display: none;
} */

.small-icon {
    display: none;
}

@media(max-width: 1024px) {
    #about-card {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #about-paragraph {
        margin-top: 10%;
        padding-left: 0;
    }

    /* #email-addr {
        display: none;
    }

    #email-icon {
        display: inline;
    } */

    .large-icon {
        display: none;
    }

    .small-icon {
        display: inline;
    }
}