<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 shadow rounded text-center" id="about-card">
                <img class="img-fluid" src="./assets/portrait.jpg" alt="potrait" />
                <!-- <div id="portrait-img">
                </div> -->
                <div id="contact-info" class="mt-2">
                    <p class="fs-5">chicuong.tang01&#64;gmail.com</p>
                    <p>
                        <a href="https://www.linkedin.com/in/chi-cuong-tang/" class="me-auto" id="linkedin">
                            <i class="fa-brands fa-linkedin fa-2xl"></i>
                        </a>
                        <a href="https://github.com/chicuong223" class="ms-4 text-dark" id="github">
                            <i class="fa-brands fa-github fa-2xl"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-8" id="about-paragraph">
                <h1>About me</h1>
                <div id="about-content" class="content-text">
                    <p>Hello! I am Chi Cuong, a software developer based in Ho Chi Minh City, Vietnam.</p>
                    <p>I am a Software Engineering graduate from FPT University, and I have 1 year experience of working
                        in the software development industry.</p>
                    <p>During my education at the university
                        as well as in my professional career, I have developed several applications from scratch to
                        production then to maintainance. </p>
                    <p>My expertise includes
                        ASP.NET Core, Windows Form, WPF, JHipster, and others. Additionally, I am skilled in
                        database development using Microsoft SQL Server, Oracle Database, MySQL and PostgreSQL.
                        Moreover, I have contributed to the development of various web applications using HTML5,
                        CSS3, JavaScript, JQuery.</p>
                </div>
            </div>
        </div>
    </div>
</div>